.HIW-section1{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.button{
    position: absolute;
    top: 400px;
}
.firstheader{
    font-family: 'Cabin';
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 65px;
/* or 148% */
width: 841px;
height: 106px;
padding-top: 123px;
color: #030640;

}
.HIW-border{
    width: 520px;
height: 0px;
border: 1px solid #6200F0;
margin-top: 180px;
/* max-width: 1200px;
    margin: 123px auto; */
}
.HIW-main-section{
    max-width: 1200px;
    margin: 0 auto;
}